//! ****************** COLORS ******************

:root {
    //? RED SHADES
  
    --color-red: #eb2f64;
    --color-red-light: #ff3366;
    --color-red-dark: #ba265d;
  
    //? GREEN SHADES
    --color-green: #55c57a;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
  
    //? Yellow SHADES
    --color-yellow-light: #ffb900;
    --color-orange-dark: #ff7730;
  
    //? BLUE SHADES
    --color-blue-light: #2998ff;
    --color-blue-dark: #5643fa;
  
    //? GREY SHADES
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f7f7f7;
    --color-grey-light-3: #f4f2f2;
    --color-grey-light-4: #eee;
    --color-grey-light-5: #f0eeee;
    --color-grey-light-6: #ccc;
  
    --color-grey-dark-1: #999;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #333; //TEXT COLOR
  
    //? WHITE SHADES
    --color-white: #fff;
  
    //? BLACK SHADES
    --color-black: #333333;
  
    //! ****************** FONT ******************
    --default-font-size: 1.5rem; // when font size 10px
  
    //! ****************** BORDER ******************
    --line: 1px solid rgba(77, 77, 77, 0.1);
  
    //! ****************** SHADOWS ******************
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  }
  


  $color-primary: #7ed56f;
$color-primary-light: rgb(123, 206, 134);
$color-primary-dark: rgb(16, 58, 12);
$color-white-light: rgb(245, 245, 245);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tersiary-light: #2998f8;
$color-tersiary-dark: #5643fa;

$color-light-grey-1: rgb(230, 230, 230);

$color-grey-dark: rgba(15, 15, 15, 0.9);
$color-text-dark-1: #5a5757;
$color-text-dark: #777777;
$color-black: rgba(5, 5, 5, 0.9);

$default-font-size: 1.2em;







