// Default Params
$color-black: rgba(5, 5, 5, 0.9);
$default-font-size: 1em;
$color-white-light: rgb(245, 245, 245);
$color-grey-dark: rgba(15, 15, 15, 0.9);
$color-primary: #7ed56f;
$color-grey-dark-2: #777;

button {
  font-size: $default-font-size;
  text-decoration: none;
  border: none;
  border-radius: 15%;
  background-color: lighten($color: $color-grey-dark-2, $amount: 40);
  border-bottom: 2px solid transparent;
  margin: 2px;

  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    border-bottom: 2px solid red;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    margin-top: 1.8em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.8em 2.3em;
    display: inline-block;
    border-radius: 10em;
    transition: all 0.5s;
    position: relative;
    border: none;

    cursor: pointer;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.3);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.3);
  }

  &--animate {
    animation: moveInTop 1s ease-out 0.75s;
    animation-fill-mode: backwards;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }

  &--white {
    background-color: $color-white-light;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white-light;
    }
    // color: $color-black;
  }

  &--green {
    background-color: darken($color: $color-primary, $amount: 10%);
    color: $color-black;
  }
}
