//Todo INDEX
// 1) QUILL RIGHTVIEW Editor specific
// 2) PRODUCTIVE INPUTS
// 3) Navbar Specifics
// 4)
// 5)

// ***************************** QUILL RIGHTVIEW Editor START *******************************

.ql-container {
  flex: 1 !important ;
  overflow: auto !important;
}
.ql-editor {
  height: 40vh !important;
}

.quill {
  min-height: 100%;
  display: flex !important;
  flex-direction: column;
}

// ***************************** QUILL RIGHTVIEW END *******************************

// ***************************** PRODUCTIVE INPUTS START *******************************

// ? utils > BackgroundUtils

.bg-backdrop-100 {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-black-400 {
  background-color: #14181e;
}
.bg-blue-700 {
  background: linear-gradient(#141e30, #243b55);
}

.active-duedate {
  border: 2px solid black;
  background-color: grey;
  fill: grey;
}

.active-priority {
  border: 2px solid black;
  background-color: grey;
  fill: grey;
}

// ***************************** PRODUCTIVE INPUTS END *******************************

//?  *****************************  Pseudo Elements and Classes START *******************************

//  *****************************  NavBar Specifics START *******************************

.listHover:hover {
  color: $grey-500;
}

.listActive {
  color: $grey-100;
}

@media screen and (min-width: 600px) {
  
  .nav--hamicon {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .nav--hamicon {
    display: block;
    position: relative;
  }

  .topnav {
    transition: all 0.3s ease-in-out;
    display: none;
    background-color: #333;
    position: absolute;
    top: 7.5em;
    border-bottom: 1px solid white;
    
    & .row {
      flex-direction: column;
      display: flex;
      width: 100vw;
      height: 86vh;

      & li {
        padding: 1em;
        font-size: 1.22em;
        &:hover {
          background-color: whitesmoke;
          & a {
            color: black;
          }
        }
      }
    }
  }

  .listHover:hover,
  .listHover:active {
    background-color: #ddd;
    color: black;
  }
}

//  *****************************  NavBar Specifics END *******************************

//?  *****************************  Pseudo Elements and Classes END *******************************
