//Todo INDEX 
// 1) 
// 2) 
// 3) 
// 4) 
// 5) 


.custom-h-1 {
  height: 7em;
}

.ql-container {
  flex: 1 !important ;
  overflow: auto !important;
}
.ql-editor {
  height: 40vh !important;
}

.quill {
  min-height: 100%;
  display: flex !important;
  flex-direction: column;
}
