// ? CSS Overflow Module Level 3 Working Draft

// * FileName           -   _Overflow.scss
// * Contain properties - [Overflow, Overflow-x, Overflow-y, scrollbar-gutter, max-lines];

//Todo INDEX
// 1) Overflow
// 2) 
// 3)
// 4)
// 5)


.overflow-hidden {
  overflow: hidden;
}
.overflowx-hidden {
  overflow-x: hidden !important;
}

.overflow {
  &-auto {
    overflow: auto;
  }
}
