// ? CSS Positioned Layout Module Level 3 Draft

// * FileName           -   _PostionedLayout.scss
// * Contain properties - [bottom, clear, float, left, position, right, top, z - index];

//Todo INDEX
// 1) Positon
// 2) Top
// 3)
// 4)
// 5)

.position- {
  &abs {
    position: absolute;
  }

  &rel {
    position: relative;
  }

  &fixed {
    position: fixed;
  }
}

.top {
  &-0 {
    top: 0;
  }
  &-10 {
    top: 10px;
  }
  &-10e {
    top: 10em;
  }
}

.right {
  &-0 {
    right: 0;
  }
  &-10 {
    right: 10px;
  }
  &-10e {
    right: 10em;
  }
}

.z {
  &-1 {
    z-index: 1;
  }
}



