// ! USE TO MANAGE LEGACY CODE FOR MAJOR UPDATE
// STORE ALL MAJOR CHANGES CODE SO TO HOLD AT ONE POSITION

//?  _Alignment.scss
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

//?  _display.scss
.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

//?  _colorUtils.scss
.text-muted {
  color: var(--color-grey-d1);
}

//?  _Utilitiesmain.scss
// Cursor
.cur {
  // Pointor
  &-poi {
    cursor: pointer;
  }
}
.cursor {
  cursor: pointer;
}

//?  _color.scss
.bg-white-900 {
  background-color: var(--color-grey-l4);
}

.bg-grey {
  background-color: $color-grey-l1;
}
.bg-grey-200 {
  background-color: $color-grey-l2;
}
.bg-grey-300 {
  background-color: $color-grey-l3;
}
.bg-grey-400 {
  background-color: $color-grey-l4;
}
.bg-grey-500 {
  background-color: $color-grey-l5;
}
.bg-grey-600 {
  background-color: $color-grey-l6;
}
.bg-grey-700 {
  background-color: $color-grey-l7;
}
.bg-grey-900 {
  background-color: var(--color-grey-d2);
}
.bg-grey-800 {
  background-color: $color-grey-l9;
}

.clr-fs-muted {
  color: var(--color-grey-d1);
}

.clr-fs-transparent {
  color: transparent;
}
.clr-fs-curcol {
  color: currentColor;
}
