//Todo INDEX
// 1) Text-align
// 2)
// 3)
// 4)
// 5)

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }
  
  &-right {
    text-align: right;
  }

  &-start {
    text-align: start;
  }
}

