//Todo INDEX 
// 1) * 
// 2) html
// 3) body
// 4) li
// 5) a
// 6) 
// 7) 
// 8) 


*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px
}

body {
  overflow-x: hidden;
  font-family: "lato", sans-serif;
  line-height: 1.7;
  color: var(--default-text-color);

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--default-text-color);
}
