.u-bg{
    background-color: var(--color-blue-light);
}
.u-bg-1{
    background-color: var(--color-red-dark);
}
.u-bg-2{
    background-color: var(--color-green-light);
}
.u-bg-3{
    background-color: var(--color-black);
}
.u-bg-4{
    background-color: var(--color-green);
}
