// MQ - MEDIA QUERIEE
@media screen and (max-width: 39.9375em) {
  .mq-sm-hidden {
    display: none !important;
  }
  .mq-sm__left-40 {
       left: 40% !important;
  }
  .mq-sm__fs-40 {
       font-size: 10px !important;
  }
}
